/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  min-height: 36px;
  padding-inline: 0.5rem;
}

button {
  cursor: pointer;
  min-height: 36px;
  padding: 0.25rem 0.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #007bff;
  transition: color 0.2s ease;
  text-align: center;

  &:hover {
    color: #004577;
  }
}

.error-text {
  color: red;
  margin-top: 0.25rem;
}
